
<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="fa fa-image">
            </i>
            Upload an image
        </h3>
    </div>
    <div class="card-body">
        <form action="/image" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" id="fileInput" name="image" class="custom-file-input" aria-describedby="inputGroupFileAddon" required>
                    <label class="custom-file-label" for="fileInput">Elegir archivo</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Titulo" name="title" class="form-control">
        </div>
        <div class="form-group">
            <textarea placeholder="Descripcion" name="descripcion" id="" rows="2" class="form-control" required></textarea>
        </div>     
        <div class="form-group">
            <button class="btn btn-outline-success" id="btn-upload">
                <i class="fa fa-upload"></i>
            </button>
        </div>   
        </form>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-images"></i>
            Recientes
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each imagenes }}
            <div class="col-md-4">
                <div class="card">
                    <a href="/image/{{ uniqueId }}">
                        <img class="w-100 h-100 img-thumbnail" src="/public/upload/{{ archivo }}" alt="">
                    </a>
                </div>
            </div>
            {{/each }}
        </div>
    </div>
</div>